@import "stations";

:root {
  --dark: #000;
  --course: #f7d417;
  --light: #fff;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: sans-serif;
  margin: 0;
}

main {
  max-width: 1000px;
  padding: 0 2rem;
  margin: 0 auto;
}

header {
  background: var(--course);
  color: var(--dark);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2em;
  margin-top: 1.5em;
}

ul img {
  border: 2px solid var(--light);
  margin-top: 2em;
  margin-bottom: 2em;
}

img {
  max-width: 100%;
}

.button {
  background: var(--light);
  color: var(--dark);
  padding: 1em;
}

.examples img {
  max-width: 25vh;
}

a,
a:visited {
  color: var(--course);
}

footer {
  font-style: italic;
}
